tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style17
	{color:blue;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hipervínculo;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:purple;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style16
	{mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Normal 2";}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl130
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";}
.xl131
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl132
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"hh\:mm\\ \\-\\ dd\\\.mm\\\.yyyy";
	text-align:center;
	vertical-align:middle;}
.xl133
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl134
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl135
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl136
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";}
.xl137
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:none;}
.xl138
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";}
.xl139
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl140
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl141
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double blue;}
.xl142
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center-across;
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl143
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center-across;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl144
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:1.5pt solid green;
	border-left:none;}
.xl145
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid green;
	border-left:2.0pt double blue;}
.xl146
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;
	background:#FFCC99;
	mso-pattern:black none;}
.xl147
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#FFCC99;
	mso-pattern:black none;}
.xl148
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl149
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center-across;
	border-top:1.5pt solid green;
	border-right:none;
	border-bottom:1.5pt solid green;
	border-left:1.5pt solid green;
	background:#CCFFCC;
	mso-pattern:black none;}
.xl150
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center-across;
	border-top:1.5pt solid green;
	border-right:1.5pt solid green;
	border-bottom:1.5pt solid green;
	border-left:none;
	background:#CCFFCC;
	mso-pattern:black none;}
.xl151
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022m3\/s\0022";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl152
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022m\0022";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;}
.xl153
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid green;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:none;}
.xl154
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid green;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double blue;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl155
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:Standard;
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl156
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022mm\0022";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:.5pt solid blue;}
.xl157
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl158
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:2.0pt double blue;}
.xl159
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;
	background:#99CCFF;
	mso-pattern:black none;}
.xl160
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#99CCFF;
	mso-pattern:black none;}
.xl161
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022msnm\0022";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl162
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022m3\/s\0022";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;}
.xl163
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:center;
	border-top:2.0pt double blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl164
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:center;
	border-top:2.0pt double blue;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl165
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022hm3\0022";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl166
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\0022 %\0022";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;}
.xl167
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"h\:mm\;\@";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;}
.xl168
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:2.0pt double blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl169
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl170
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl171
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl172
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl173
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl174
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl175
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl176
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022mm\0022";
	text-align:center;}
.xl177
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022mm\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:1.5pt solid blue;}
.xl178
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl179
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl180
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022mm\0022";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl181
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid green;
	border-left:none;}
.xl182
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid green;
	border-left:1.5pt solid blue;}
.xl183
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid green;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl184
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid green;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl185
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl186
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	background:silver;
	mso-pattern:black none;}
.xl187
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;
	background:silver;
	mso-pattern:black none;}
.xl188
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;
	background:silver;
	mso-pattern:black none;}
.xl189
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl190
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;}
.xl191
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl192
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl193
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl194
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl195
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl196
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl197
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl198
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022m3\/s\0022";
	text-align:center;}
.xl199
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022%\0022";
	text-align:center;}
.xl200
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:center;
	border-top:2.0pt double blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl201
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;}
.xl202
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:1.5pt solid blue;}
.xl203
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl204
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:center;
	border-top:2.0pt double blue;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl205
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";}
.xl206
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl207
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl208
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double blue;}
.xl209
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double blue;}
.xl210
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl211
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl212
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;}
.xl213
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:none;}
.xl214
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:none;}
.xl215
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl216
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:2.0pt double blue;
	border-left:2.0pt double blue;}
.xl217
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:2.0pt double blue;
	border-left:1.5pt solid blue;}
.xl218
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:2.0pt double blue;}
.xl219
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl220
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl221
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl222
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:left;
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:none;}
.xl223
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m  \0022";
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl224
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl225
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:1.5pt solid blue;}
.xl226
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl227
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	border-top:2.0pt double blue;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:none;}
.xl228
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:2.0pt double blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl229
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:left;
	border-top:2.0pt double blue;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl230
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:2.0pt double blue;}
.xl231
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";}
.xl232
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl233
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m3\/s\0022";
	text-align:left;}
.xl234
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl235
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl236
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl237
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl238
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:Standard;
	text-align:center;}
.xl239
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl240
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022hm3\0022";
	text-align:center;}
.xl241
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl242
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl243
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl244
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl245
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#99CCFF;
	mso-pattern:black none;}
.xl246
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl247
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center-across;
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;
	background:#CCFFFF;
	mso-pattern:black none;}
.xl248
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl249
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl250
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid green;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl251
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid green;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl252
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#FFCC99;
	mso-pattern:black none;}
.xl253
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl254
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\\C\\R0\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;
	background:#FFCC99;
	mso-pattern:black none;}
.xl255
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\\C\\R0\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#FFCC99;
	mso-pattern:black none;}
.xl256
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\\C\\R0\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl257
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\\C\\R0\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;}
.xl258
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\\C\\R0\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl259
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\\C\\R0\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:.5pt solid blue;}
.xl260
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl261
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid #595959;}
.xl262
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;
	background:#99CCFF;
	mso-pattern:black none;}
.xl263
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#99CCFF;
	mso-pattern:black none;}
.xl264
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl265
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;}
.xl266
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl267
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;}
.xl268
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";}
.xl269
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl270
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl271
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:.5pt solid blue;}
.xl272
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid #595959;}
.xl273
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid #595959;
	border-bottom:none;
	border-left:none;}
.xl274
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl275
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\#\,\#\#0\.00\\ \0022mm\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid blue;}
.xl276
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl277
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid #595959;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl278
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;}
.xl279
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl280
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid green;
	border-left:none;}
.xl281
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl282
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl283
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl284
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl285
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl286
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl287
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;}
.xl288
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl289
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl290
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl291
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl292
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl293
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl294
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:center;
	border-top:1.5pt solid #595959;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl295
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:right;
	border-top:1.5pt solid #595959;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl296
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl297
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid blue;}
.xl298
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl299
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:center;}
.xl300
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl301
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl302
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl303
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #948A54;}
.xl304
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #948A54;}
.xl305
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #948A54;}
.xl306
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #948A54;}
.xl307
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:right;}
.xl308
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid #595959;}
.xl309
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl310
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	border-top:1.5pt solid #595959;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl311
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid #595959;
	border-bottom:none;
	border-left:none;}
.xl312
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl313
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;}
.xl314
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl315
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl316
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid blue;}
.xl317
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid #595959;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl318
	{mso-style-parent:style17;
	color:blue;
	font-size:8.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:1.5pt solid #595959;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:1.5pt solid #595959;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl319
	{mso-style-parent:style17;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl320
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:1.5pt solid blue;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl321
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl322
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\\C\\R0\.00";
	text-align:center;}
.xl323
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;}
.xl324
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl325
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl326
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl327
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:1.5pt solid blue;
	background:#FFCC99;
	mso-pattern:black none;}
.xl328
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#FFCC99;
	mso-pattern:black none;}
.xl329
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl330
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl331
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl332
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl333
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl334
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:1.5pt solid blue;}
.xl335
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:2.0pt double blue;
	border-bottom:none;
	border-left:none;}
.xl336
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl337
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl338
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl339
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;}
.xl340
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	vertical-align:middle;}
.xl341
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid #595959;
	border-bottom:none;
	border-left:none;}
.xl342
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;}
.xl343
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl344
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:1.5pt solid blue;
	border-right:1.5pt solid blue;
	border-bottom:.5pt solid blue;
	border-left:.5pt solid blue;
	background:#99CCFF;
	mso-pattern:black none;}
.xl345
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid #595959;}
.xl346
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:center;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl347
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid blue;
	border-left:none;}
.xl348
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl349
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl350
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl351
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl352
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:1.5pt solid blue;}
.xl353
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl354
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:2.0pt double blue;}
.xl355
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl356
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:2.0pt double blue;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl357
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:2.0pt double blue;}
.xl358
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:1.5pt solid blue;}
.xl359
	{mso-style-parent:style16;
	color:blue;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:2.0pt double blue;
	border-left:none;}
.xl360
	{mso-style-parent:style16;
	color:windowtext;
	font-size:16.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid windowtext;
	border-right:none;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;}
.xl361
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid windowtext;
	border-right:none;
	border-bottom:1.5pt solid windowtext;
	border-left:none;}
.xl362
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid windowtext;
	border-right:1.5pt solid windowtext;
	border-bottom:1.5pt solid windowtext;
	border-left:none;}
.xl363
	{mso-style-parent:style16;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"hh\:mm\\ \\-\\ dd\\\.mm\\\.yyyy";
	text-align:center;
	vertical-align:middle;}
.xl364
	{mso-style-parent:style16;
	color:windowtext;
	font-size:12.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	vertical-align:middle;}
.xl365
	{mso-style-parent:style16;
	color:windowtext;
	font-size:8.0pt;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:center;
	border-top:1.5pt solid windowtext;
	border-right:none;
	border-bottom:1.5pt solid windowtext;
	border-left:1.5pt solid windowtext;}
.xl366
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl367
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl368
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid blue;}
.xl369
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl370
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.5pt solid blue;}
.xl371
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"0\.00\0022 m\0022";
	text-align:right;
	border-top:none;
	border-right:1.5pt solid blue;
	border-bottom:none;
	border-left:none;}
.xl372
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid #948A54;}
.xl373
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl374
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;}
.xl375
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid blue;}
.xl376
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022E\0022\#\,\#\#\#\.00";
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:none;}
.xl377
	{mso-style-parent:style16;
	color:#595959;
	font-size:8.0pt;
	font-weight:700;
	font-family:Verdana, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$€\]\\ \#\,\#\#0\.00\;\[Red\]\\-\[$€\]\\ \#\,\#\#0\.00";
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #595959;
	border-left:1.5pt solid #595959;}
